

.tuto9{
    background-color: #DDD;
    padding: 10px;
    margin:auto ;
    width: 90%;
/*     border-width: 12px ;
    border-color: tomato green blue yellow;
    border-style: dashed outset double groove;
*/
    border:10px solid red;
}






/* nigative value
Pourcentage Ok  */
.tuto8{
    background-color: #DDD;
    padding: 10px;
    /* margin: 30px; */
    /* width: 70%;
    margin-left: 15%; */
    width: 70%;
/*     margin-left: auto;
    margin-right: auto; */
    margin: auto;
}



/* Top Right Bottom Left */
/* 10px 10px 10px 10px */
/* padding 10px */

/* Top Right Bottom Left */
/* 10px 20px 10px 20px */
/* padding 10px 20px */

/* Top Right Bottom Left */
/* 10px 20px 15px */
/* padding 10px 20px 15px 20px*/


/* Top Right Bottom Left */
/* 0px 0px 15px 0px */
/* padding 0px 0px 15px*/
.tuto7{
    background-color: #DDD;
    padding: 20px;
    
}

.div{
    background-color: cornsilk;
    border: 2px solid black;
    height: 300px;
    width: 100%;

    margin: 30px 0 20px 0 ;
}
.div-title{
    text-align: center;
}